<div class='current' id='blog'>
  <div class='toolbar'>
    <h1><%= post.title %></h1>
    <a class="back">Back</a>
  </div>
  <div class="blog_post_wrap">
    <div class="header"><%= post.title %></div>
    <div class="sub_header">Posted by: <%= post.sub_title %></div>
    <div class="header_date"><%= post.created_at %></div>
    <p><%= post.content %></p>
  </div>
  <div class='info'>
    <p>
      Built by Cube2Mobile - A Cube2Media Company
    </p>
  </div>
</di